button {
  margin-top: 50px;
}

#cardDespesa {
  margin-top: 10px;
}

#cardReceita {
  margin-top: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
